.academica {
    background: var(--cor-de-fundo-azul);
    height: 418px;
    padding: 82px;
    text-align: center;
    width: 1276px;
}

.academica__titulo {
    color: var(--cor-preto);
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
}

.academica__cursos {
    display: flex;
    justify-content: center;
}

.academica__cursos__caixa {
    background-color: var(--cor-branco);
    display: flex;
    height: 286px;
    margin: 16px;
    width: 368px;
}

.academica__cursos__caixa.eq {
    background-image: url("../img/eq-logo.png");
    background-position: center;
    
}

.academica__cursos__caixa.centec {
    background-image: url("../img/centec-logo.png");
    background-position: center;
    background-size: contain;
}



.academica__cursos__caixa.alura {
    background-image: url("../img/alura-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    
}

.academica__cursos__lista {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: unset;
}


.academica__cursos__item--titulo {
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    margin-top: 260px;
}

.academica__cursos__item--subtitulo {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    margin-top: -30px;
}


/*TABLET*/
@media screen and (min-width: 480px) and (max-width: 768px) {
    .academica {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 227px;
        padding: 32px;
        width: 704px;
        /* width: calc(100% - 64px); */
    }

    .academica__titulo {
        font-size: 22px;
        height: 26px;
        line-height: 25.83px;
        margin: 0;
        width: 227px;
    }

    .academica__cursos {
        height: 169px;
        width: 704px;
    }

    .academica__cursos__caixa {
        height: 86px;
        padding: 16px;
        width: 192px;
    }

    .academica__cursos__caixa.eq {
        background-size: cover;
    }

    .academica__cursos__caixa.centec {
        background-origin: content-box;
    }

    .academica__cursos__caixa.alura {
        background-origin: content-box;
        background-size: contain;
    }

    .academica__cursos__lista {
        margin-left: -15px;
        margin-top: -130px;
        text-align: left;
    }
    
    .academica__cursos__item--titulo  {
        font-size: 16px;
        line-height: 18.78px;
        margin-top: 220px;
    }

    .academica__cursos__item--subtitulo {
        font-size: 14px;
        height: 16px;
        line-height: 16.44px;
        width: 148px;
    }
}

/*MOBILE*/
@media screen and (min-width: 360px) and (max-width: 480px) {
    .academica {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 600px;
        justify-content: center;
        padding: 32px 32px 80px 32px;
        width: 296px;
        /* width: calc(100% - 64px); */
    }

    .academica__titulo {
        font-size: 22px;
        height: 26px;
        line-height: 25.83px;
        width: 227px;
    }

    .academica__cursos {
        flex-direction: column;
        height: 539px;
        justify-content: space-between;
        width: 296px;
    }

    .academica__cursos__caixa.eq, 
    .academica__cursos__caixa.centec, 
    .academica__cursos__caixa.alura {
        height: 86px;
        margin: 10px 0px 0px 0px;
        padding: 16px;
        width: 264px;
    }

    .academica__cursos__caixa.eq {
        background-repeat: no-repeat;
        background-size: 150px;
    }

    .academica__cursos__caixa.centec {
        background-size: 120px;
        background-repeat: no-repeat;
    }

    .academica__cursos__caixa.alura {
        background-size: 80px;
    }

    .academica__cursos__item--titulo {
        margin: 65px 0px 0px -15px;
    }

    .academica__cursos__item--titulo.alura {
        margin: 260px 0px 0px 0px;
    }
    .academica__cursos__item--subtitulo {
        margin: -30px 0px 0px -15px;
    }
}