#cabecalho {
    justify-items: center;
    padding: 32px 0px 32px 0px;
    /* align-items: center;
    display: flex;
    min-height: 24px;
    justify-content: space-between;
    padding: 32px 0px 32px 0px;
    min-width: 85%; */
}

#cabecalho__divisao {
    align-items: center;
    display: flex;
    grid-auto-flow: column;
    justify-content: space-between;
}

header {
    display: grid;
    gap: 8px;
    grid-auto-flow: column;
    /* display: flex; */
    height: 24px;
    width: 156px;
}

/* #cabecalho__divisao {
    grid-auto-flow: column;
} */

.cabecalho__logo{
    width: 24px;
    height: 24px;
}

.cabecalho__titulo {
    color: var(--cor-preto);
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    margin: 0;
    padding-left: 1rem;
    padding-top: 4px;
}

.cabecalho__lista {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    gap: 32px;
    grid-auto-flow: column;
    text-align: center;
    max-width: 642px;
}

.cabecalho__lista-item{
    color: var(--cor-preto);
    font-size: 16px;
    font-weight: 500;
    height: 19px;
    line-height: 18.78px;
    width: 82px;
}

.cabecalho__lista-item:hover {
    font-weight: 700;
}


/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px)  {
    #cabecalho  {
        height: 56px;
        padding: 16px 32px 16px 32px;
        /* width: 704px; */
        width: calc(100% - 64px);
    }

    #cabecalho__divisao {
        width: calc(100% - 64px);
    }



    /*Faz com que só o último filho apareça*/
    .cabecalho__lista li:not(:last-child){
        display: none;
    }

    .cabecalho__lista {
        padding: 0;
        width: 159px;
    }

}

/*MOBILE*/
@media screen and (max-width:767px) {
    #cabecalho {
        align-items: center;
        height: 56px;
        /* height: calc(56px - 32px); */
        /* justify-content: space-between; */
        /* justify-content: inherit; */
        padding: 16px;
        /* width: 328px; */
        width: calc(100% - 32px);
    }

    #cabecalho__divisao {
        display: flex;
        /* justify-content: inherit; */
        width: 76%;
    }

    #cabecalho > header {
        height: 24px;
        margin: 0;
        width: 156px;
    }

    .cabecalho__lista {
        height: 16px;
        margin: 0;
        width: 133px;
    }

    /*Faz com que só o último filho apareça*/
    .cabecalho__lista li:not(:last-child){
        display: none;
    }
}