.hobbies {
    align-items: center;
    display: flex;
    height: 350px;
    justify-content: center;
    margin-bottom: 90px;
    width: 1440px;
}

.hobbies__divisao {
    height: 244px;
    width: 1136px;
}

.hobbies__titulo {
    color: var(--cor-preto);
    font-family: "Raleway";
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;
}

.hobbies__linha {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

.hobbies__caixa {
    background-color: var(--cor-branco);
    height: 174px;
    padding: 16px;
    width: 176px;
}

.hobbies__caixa ul {
    margin-top: 115px;
    padding: 0;
}

.hobbies__img {
    padding-bottom: 10px;
}

.hobbies__nome {
    color: var(--cor-preto);
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}

/*TABLET*/
@media screen and (max-width: 768px) {
    .hobbies {
        height: 250px;
        margin: 0;
        padding: 32px;
        width: 704px;
    }

    .hobbies__titulo {
        font-size: 22px;
        line-height: 25.83px;
    }

    .hobbies__linha {
        padding: 32px;
        width: 704px;
    }
    
    .hobbies__caixa {
        height: 118px;
        margin-inline: 8px;
        width: 224px;
    }

    .hobbies__caixa ul {
        margin-top: 40px;
        padding: 5px;
    }
}

/*MOBILE*/
@media screen and (min-width: 360px) and (max-width: 480px) {
    .hobbies {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 400px;
        padding: 16px;
        width: 328px;
    }

    .hobbies__divisao {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 328px;
    }

    .hobbies__linha {
        flex-wrap: wrap;
        height: 118px;
        width: 328px;
    }

    .hobbies__caixa {
        height: 86px;
        margin: 0;
        padding: 16px;
        width: 124px;
    }

    .hobbies__caixa > ul {
        margin-top: 25px;
        padding: 0;
    }

    #ultimoHobbie {
        margin-top: 25px;
    }
}