#rodape {
    background-color: var(--cor-branco);
    padding: 32px;
    width: calc(100% - 64px);
}

#rodape__texto {
    color: var(--cor-preto);
    font-size: 16px;
    font-weight: 500;
    gap: 0;
    line-height: 18.78px;
    text-align: center;
}

#rodape__texto p {
    margin: 0;
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .rodape {
        height: 38px;
        padding: 32px;
        width: 704px;
        /* width: calc(100% - 64px); */
    }

    .rodape__texto {
        height: 38px;
        line-height: 18.78px;
        width: 250px;
    }
}

/*MOBILE*/
@media screen and (max-width:767px) {
    .rodape {
        height: 38px;
        padding: 32px;
        width: 296px;
        /* width: calc(100% - 64px); */
    }

    .rodape__texto {
        font-size: 16px;
        height: 38px;
        line-height: 18.78px;
        width: 243px;
    }
}