.sobre {
    background: var(--cor-de-fundo-azul);
    display: grid;
    /* display: flex; */
    gap: 10px;
    height: auto;
    justify-items: center;
    /* height: 255px; */
    /* justify-content: center; */
    padding: 64px;
    /* width: 1312px; */
    width: calc(100% - 128px);
    /* width: 85%; */
}

.sobre__container {
    /* height: 255px; */
    /* width: 1136px; */
    /* width: calc(100% - 64px); */
    display: grid;
    gap: 16px;
    width: calc(85% - 64px);
}

.sobre__titulo {
    color: var(--cor-preto);
    font-size: 32px;
    font-weight: 700;
    height: auto;
    line-height: 37.57px;
    margin: 0;
    width: auto;
}

.sobre__paragrafo {
    color: var(--cor-preto);
    font-size: 16px;
    font-weight: 400;
    height: auto;
    line-height: 18.78px;
    margin: 0;
    /* width: 751px; */
    width: auto;
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .sobre {
        /* height: auto; */
        /* height: 222px; */
        padding: 32px;
        /* width: 704px; */
        width: calc(100% - 64px);
    }

    .sobre__container {
        /* height: 222px; */
        /* width: 704px; */
        width: calc(100% - 64px);
    }

    .sobre__titulo {
        font-size: 22px;
        height: 26px;
        line-height: 25.83px;
        width: 114px;
    }

    .sobre__paragrafo {
        font-size: 14px;
        line-height: 16.44px;
        /* width: 704px; */
        width: calc(100% - 64px);
    }
}

/*MOBILE*/
@media screen and (max-width:767px) {
    .sobre {
        /* height: 318px; */
        padding: 16px;
        /* width: 328px; */
        width: calc(100% - 32px);
    }

    .sobre__container {
        /* height: 318px; */
        /* width: 328px; */
        width: calc(100% - 32px);
    }

    .sobre__paragrafo {
        /* width: 328px; */
        width: calc(100% - 32px);
    }
}